body {
    padding: 0 32px;
    -webkit-tap-highlight-color: transparent;
    font-synthesis: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-size-adjust: 100%;
}

#root {
    text-align: center;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #3338;
    cursor: pointer;

    &.primary {
        background-color: #747bff;
    }
}

input,
select {
    border: 1px dashed rgb(0 0 0 / 30%);
    border-radius: 4px;
    padding: 8px 12px;

    &::placeholder {
        color: rgb(0 0 0 / 30%);
    }
}
