.flex-container {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

.flex-between {
    justify-content: space-between;
    align-items: center;
}

.flex-spacer {
    flex: 1 1 auto;
}
