.panel {
    position: fixed;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    transition: 0.3s;
    padding: 16px;
    background-color: rgb(0 0 0/ 50%);
    color: white;
    overflow: hidden;
    backdrop-filter: blur(8px);
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;

    > * {
        opacity: 0;
    }

    &.leftBottom {
        left: 8px;
        bottom: 8px;
    }

    .closeBtn {
        position: absolute;
        border-radius: 8px;
        background-color: rgb(0 0 0/20%);
        width: 36px;
        height: 36px;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        color: white;
        cursor: pointer;
        user-select: none;

        svg {
            transition: 0.3s;
        }

        &:hover {
            svg {
                transform: rotate(180deg);
            }
        }
    }

    &.open {
        height: 100px;
        border-radius: 8px;
        cursor: default;
        z-index: 5 !important;

        @media screen and (max-width: 500px) {
            width: calc(100% - 16px);
        }
        @media screen and (min-width: 501px) {
            width: 500px;
        }

        > * {
            opacity: 1;
        }

        .closeBtn {
            transform: scale(1);
        }
    }
}
