@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.personalInfo {
    right: 8px;
    top: 8px;
    animation: gradient 4s ease infinite;
    background-image: linear-gradient(
        -45deg,
        #ee775288,
        #e73c7e88,
        #23a6d588,
        #23d5ab88
    );
    background-size: 400% 400%;
    background-position: 0 0;
    transition: 0.4s;
    z-index: 9;

    * {
        transition: 0.6s;
    }

    a {
        text-decoration: underline;
        color: white;
        font-weight: 900;
    }

    .github {
        &Icon {
            position: absolute;
            right: 6px;
            top: 6px;
            cursor: pointer;
            opacity: 1 !important;
        }

        &Link {
            position: absolute;
            right: -196px;
            top: 26px;
        }
    }

    .bilibili {
        &Icon {
            position: absolute;
            right: -100px;
            top: 10px;
        }

        &Link {
            position: absolute;
            right: -196px;
            top: 16px;
        }
    }

    &.open {
        @media screen and (max-width: 500px) {
            width: calc(100% - 60px) !important;
        }

        .github {
            &Icon {
                right: calc(100% - 70px);
                top: 18px;
                width: 36px;
                height: 36px;
            }

            &Link {
                right: calc(100% - 200px);
                top: 26px;
            }
        }

        .bilibili {
            &Icon {
                height: 36px;
                right: 26px;
                top: 50px;
            }

            &Link {
                right: 110px;
                top: 58px;
            }
        }
    }
}
